.container {
    margin: 1rem;
    display: flex;
    gap: 1rem;

    .btn-inc {
        border-radius: 12px;
        font-size: 24px;
    }

    .btn-dec {
        border-radius: 12px;
        font-size: 24px;
    }
}